* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html,#root, .app {
  font-family: Helvetica, Arial, sans-serif;
  color: #333e5a;
  height: 100%;
  width: 100%;
}

header {
  background: #f0293e;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  margin-bottom: 2em;
}

h1 {
  font-weight: 300;
  padding: 0.4em 0;
}



main {
  background: #ffffff;
  flex-grow: 1;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

button {
  background: #333e5a;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}
button:hover {
  filter: brightness(150%);
}
.home-pg{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /*
  allows for overlay of background img
  */
  .home-pg::before{
    content: '';
    background-image: url('./logos/RV-HQ-01.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow:hidden;
    position: absolute;
    top:0px;
    right: 0px;
    left: 0px;
    bottom:0px;
    opacity: .40;
    transition: 5s;
    animation-name: slide;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
  }
 .content{
   position: relative;
 }
 /*
 Animation for background change
 */ 
 @keyframes slide {
   0%{
     background-image: url('./logos/RV-HQ-01.jpg');
   }
   33%{
     background-image: url('./logos//RV-HQ-02.jpg');
   }
   67%{
     background-image: url('./logos/RV-Life-08.JPG');
   }
 }
 #home-logo{
  width: 100%;
  height: auto;
 }
 .btn-margin {
   margin-left: 10rem;
 }
.room {
  position: relative;
}
.room button {
  position: absolute;
  top: 0;
  right: 20px;
}
.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.local-participant {
  text-align: center;
  margin-bottom: 2em;
}
.remote-participants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2em 2em;
}
.participant {
  background: #333e5a;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
}
.participant:last-child {
  margin-right: 0;
}
.participant h3 {
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
}

video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
}

footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  padding: 1em 0;
}

footer a {
  color: #fff;
}